/* Typography utilities */
@import './typography.css';

/* Tailwind Utility Classes */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Fonts */
@font-face {
    font-family: 'Berlin Sans FB';
    src: url('../assets/fonts/berlinsansfb_reg.ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../assets/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBold-Italic';
    src: url('../assets/fonts/Gilroy-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../assets/fonts/Gilroy-Light.ttf');
}

@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: url('../assets/fonts/Gilroy-RegularItalic.ttf');
}

/* Utility font classes */
.font-berlin {
    font-family: 'Berlin Sans FB', sans-serif;
}

.font-gilroy-medium {
    font-family: 'Gilroy-Medium', sans-serif;
}

.font-gilroy-regular {
    font-family: 'Gilroy-Regular', sans-serif;
}

.font-gilroy-semibold {
    font-family: 'Gilroy-SemiBold', sans-serif;
}

.font-gilroy-bold {
    font-family: 'Gilroy-Bold', sans-serif;
}

.font-gilroy-light {
    font-family: 'Gilroy-Light', sans-serif;
}

.font-gilroy-italic {
    font-family: 'Gilroy-RegularItalic', sans-serif;
}

/* Hide Scrollbars */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        box-shadow: 0 0 0px 1000px #0B1E29 inset !important;
        -webkit-text-fill-color: #FFFFFF !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer utilities {

    select,
    select option {
        background-color: #0B1E29 !important;
        color: white !important;
        border: none;
    }

    /* Optional: when a value is selected (not placeholder) */
    select:valid {
        background-color: #0B1E29 !important;
        color: white !important;
    }

    select:disabled {
        background-color: #0B1E29 !important;
        color: white !important;
    }
}

.custom-dropdown {
    @apply bg-white text-gray-800 border border-gray-300 rounded py-2;
}

.custom-dropdown option {
    background-color: #0B1E29;
    /* dropdown bg */
    color: #FFFFFF;
    /* dropdown text */
}

option {
    color: #FFFFFF;
    background-color: #0B1E29;
}